<h1>Doctrine</h1>

{{#if hasDoctrines}}
  <h4>{{model.length}} doctrine(s) available</h4>
{{/if}}

<table>
  <thead>
    <th>Title</th>
    <th>Actions</th>
  </thead>

  <tbody>
    {{#each model as |doctrine|}}
      <tr>
        <td>{{doctrine.name}}</td>
        
        <td>
          {{#if doctrine.hasDirtyAttributes}}
            <button {{action (route-action 'saveDoctrine' doctrine)}}>
              Save
            </button>
          {{/if}}

          {{#if doctrine.id}}
            <button {{action (route-action 'deleteDoctrine' doctrine)}}>
              Delete
            </button>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button {{action (route-action 'createDoctrine')}}>Create doctrine</button>
