<div class="ui sixteen column grid">
  <div class="eleven wide column">
    <div class="ui segment">
      <div class="ui header">
        Doctrines
      </div>

      <div class="ui relaxed items">
        {{#each alliances as |alliance|}}
          <div class="item">
            <div class="ui tiny image">
              <img src={{alliance-image alliance.allianceId}} class="image-holographic" />
            </div>

            <div class="middle aligned content">

              <div class="header">{{alliance.name}}</div>

              <div class="meta">
                {{!-- <span>{{alliance.memberCount}} pilots</span> --}}
                <span>{{alliance.doctrines.length}} doctrines</span>
              </div>

              <div class="extra">
                <div class="two buttons">
                  <div class="ui tiny basic button">View {{alliance.ticker}} doctrines</div>
                </div>
              </div>

            </div>

          </div>
        {{/each}}

        {{#each corporations as |corporation|}}
          <div class="item">
            <div class="ui tiny image">
              <img src={{corporation-image corporation.corporationId}} class="image-holographic" />
            </div>

            <div class="middle aligned content">

              <div class="header">{{corporation.name}}</div>

              <div class="meta">
                <span>{{corporation.memberCount}} pilots</span> /&nbsp;
                <span>{{corporation.doctrines.length}} doctrines</span>
              </div>

              <div class="extra">
                <div class="two buttons">
                  {{#link-to "corporation.doctrines" corporation.id class="ui tiny basic button"}}
                    View {{corporation.ticker}} doctrines
                  {{/link-to}}
                </div>
              </div>

            </div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="five wide column">
    <div class="ui segment background-alt">
      <div class="ui icon message">
        {{!-- <i class="hand spock icon"></i> --}}

        <div class="content">
          <div class="header">
            Good day, commander.
          </div>

          <p>Be advised that this software is still in alpha, and many things may or may not be broken.</p>

          <p>You've linked the following characters:</p>

          <div class="ui horizontal list">
            {{#each account.characters as |character|}}
              <div class="item">
                <img class="ui mini avatar image image-holographic" src={{character-portrait id=character.characterId size=128}} />
                <div class="content">
                  <div class="ui sub header">{{character.name}}</div>
                  {{!-- {{character.corporation.name}} --}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
